/* css for text webstie*/

/* css for text webstie*/


body{
    padding-top: 75px;
    height:100vh;
    background-image: url(images/eduintro.jpg); 
    background-position: center;
    background-size: cover; 
}

.panels{
    margin-top: 120px;
}

form{
   background-color: rgba(0, 0, 0, 0.5);
}

.form-container{
    padding: 10px;
    box-shadow: 0px 0px 10px 0px;
}

h3{
    color: #fff;
}

