/* css for text webstie*/

#image{
    padding-top: 75px;
    height:100vh;
    background-image: url(images/eduintro.jpg); 
    background-position: center;
    background-size: cover; 
}

.panels{
    margin-top: 120px;
}

.form-container{
    border: 1px solid #fff;
}

.heading{
    text-align: center;
    color: blue;
}

.content{
    width: 50%;
    margin: auto;
    position: relative;
    padding-top:4%;
    padding-bottom: 4%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px; 
}
